{% include 'casesystem/base.html' %}
{% block content %}
     <body>
        <h1>Case Management</h1>
        <h3>{{ username }}</h3>
        <form>
            {% csrf_token %}
            <label> Role: {{ form.role }}
            </label>
            <label>Case Name: {{ form.case_name }}</label>
            <label>Case Status: {{ form.case_status }}</label>
            <label>Remarks: {{ form.remarks }}</label>
            <label><input type="submit"> Submit </label>
        </form>
    </body>
{% endblock content %}
