{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                    <form class="login-form" method="post">
                    <h3>Enter your Login Credentials</h3>
                    {% csrf_token %}
                    <input type="text" name="username" required placeholder="username"/>
                    <input type="password" name="password" required placeholder="password"/>
                    <input type="submit" name="submit" href="{% url 'home_view' %}">
                </form>
            </div>
        </div>
    <script>
            $('.message a').click(function(){
                $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
            });
    </script>
    </body>
</html>
